<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img height="300rem" src="../../../assets/img/zambrano.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Zambrano lesionado</h5>
        <p class="card-text">Zambrano se lesiono ante el Deportivo Cali en el debut de Boca en la copa libertadores</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img height="300rem" src="../../../assets/img/bocavscali.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Perdio Boca</h5>
        <p class="card-text">Boca perdio en su debut en la copa libertadores ante el Deportivo Cali por 2:0</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img height="300rem" src="../../../assets/img/almendra_862x485.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Almendra pide volver</h5>
        <p class="card-text">Almendra se reunio con Riquelme para perdirle reincorporarse al plantel para los prozimos partidos</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img height="300rem" src="../../../assets/img/apol-fernandez-confirmo-su-regreso-a-Boca.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Boca recupera a Pol Fernandez</h5>
        <p class="card-text">Pol fernandez vuelve a la convocatoria con Boca tras su lesion de dos semanas</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img height="300rem" src="../../../assets/img/aluis-vazquez_416x234.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">¿Por que Vazquez no jugo contra Cali?</h5>
        <p class="card-text">Vázquez fue al banco de suplente con un estado gripal que no le permitía estar en óptimas condiciones y por eso Battaglia habría decidido no ponerlo</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img height="300rem" src="../../../assets/img/bocavsvelez.webp" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">El posible once de Boca contra Velez</h5>
        <p class="card-text">En la práctica de fútbol realizada esta mañana en el predio de Ezeiza, el técnico paró a: Agustín Rossi; Marcelo Weigandt, Gabriel Aranda, Marcos Rojo, Agustín Sández; Diego González, Guillermo Pol Fernández, Gabriel Vega; Aaron Molinas; Sebastián Villa y Luis Vázquez</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
</div>
