<div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <img src="../../../assets/img/zambrano.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Zambrano lesionado</h5>
        <p class="card-text">Zambrano se lesiono ante el Deportivo Cali en el debut de Boca en la copa libertadores</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="../../../assets/img/bocavscali.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Perdio Boca</h5>
        <p class="card-text">Boca perdio en su debut en la copa libertadores ante el Deportivo Cali por 2:0</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <img src="../../../assets/img/almendra_862x485.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Almendra pide volver</h5>
        <p class="card-text">Almendra se reunio con Riquelme para perdirle reincorporarse al plantel para los prozimos partidos</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
  </div>
</div>
