<div class="card-group">
    <div class="card">
      <img src="../../../assets/img/349x283retrato-rossi_7dd4e.jpg" class="card-img-top image image-placeholder" alt="...">
      <div class="card-body">
        <h5 class="card-title">AGUSTIN ROSSI</h5>
        <H4>Arquero</H4>
        <p class="card-text">Numero de camiseta:</p>
        <p class="card-text"><small class="text-muted">1</small></p>
      </div>
    </div>
    <div class="card">
        <img src="../../../assets/img/349x283retrato-garcia_8da8e.jpg" class="card-img-top image image-placeholder" alt="...">
        <div class="card-body">
          <h5 class="card-title">JAVIER GARCIA</h5>
          <H4>Arquero</H4>
          <p class="card-text">Numero de camiseta:</p>
          <p class="card-text"><small class="text-muted">13</small></p>
        </div>
    </div>
      <div class="card">
        <img src="../../../assets/img/349x283perfil-arquero_86dea.jpg" class="card-img-top image image-placeholder" alt="...">
        <div class="card-body">
          <h5 class="card-title">LEANDRO BREY</h5>
          <H4>Arquero</H4>
          <p class="card-text">Numero de camiseta:</p>
          <p class="card-text"><small class="text-muted">12</small></p>
        </div>
      </div>
    <div class="card">
      <img src="../../../assets/img/349x283sandez-agustin-perfil_1fa72.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">AGUSTIN SANDEZ</h5>
        <h4>Defensor</h4>
        <p class="card-text">Numero de camiseta:</p>
        <p class="card-text"><small class="text-muted">3</small></p>
      </div>
    </div>
    <div class="card">
      <img src="../../../assets/img/349x283perfil-figal_7362b.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">NICOLAS FIGAL</h5>
        <h4>Defensor</h4>
        <p class="card-text">Numero de camiseta:</p>
        <p class="card-text"><small class="text-muted">4</small></p>
      </div>
    </div>
</div>
  <div class="card-group">
    <div class="card">
      <img src="../../../assets/img/349x283zambrano-chica-01_4212c.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">CARLOS ZAMBRANO</h5>
        <h4>Defensor</h4>
        <p class="card-text">Numero de camiseta:</p>
        <p class="card-text"><small class="text-muted">5</small></p>
      </div>
    </div>
    <div class="card">
      <img src="../../../assets/img/349x283retraton-rojo-2_15d3b.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">MARCOS ROJO</h5>
        <h4>Defensor</h4>
        <p class="card-text">Numero de camiseta;</p>
        <p class="card-text"><small class="text-muted">6</small></p>
      </div>
    </div>
    <div class="card">
      <img src="../../../assets/img/349x283carlos-izquierdoz-chica-01_2f274.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">CARLOS IZQUIERDOZ</h5>
        <h4>Defensor</h4>
        <p class="card-text">Numero de camiseta:</p>
        <p class="card-text"><small class="text-muted">24</small></p>
      </div>
    </div>
    <div class="card">
        <img src="../../../assets/img/349x283perfil-figal_7362b.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">NICOLAS FIGAL</h5>
          <h4>Defensor</h4>
          <p class="card-text">Numero de camiseta:</p>
          <p class="card-text"><small class="text-muted">4</small></p>
        </div>
      </div>
      <div class="card">
        <img src="../../../assets/img/349x283perfil-avila_e74c8.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">GASTON AVILA</h5>
          <h4>Defensor</h4>
          <p class="card-text">Numero de camiseta:</p>
          <p class="card-text"><small class="text-muted">25</small></p>
        </div>
    </div>
</div>
<div class="card-group">
    <div class="card">
      <img src="../../../assets/img/349x283advincula-2_8f3fe.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">LUIS ADVINCULA</h5>
        <h4>Defensor</h4>
        <p class="card-text">Numero de camiseta:</p>
        <p class="card-text"><small class="text-muted">17</small></p>
      </div>
    </div>
    <div class="card">
      <img src="../../../assets/img/349x283weigandt-marcelo-perfil_5bf3f.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">MARCELO WEIGANDT</h5>
        <h4>Defensor</h4>
        <p class="card-text">Numero de camiseta:</p>
        <p class="card-text"><small class="text-muted">57</small></p>
      </div>
    </div>
    <div class="card">
      <img src="../../../assets/img/349x283frank-fabra-chica-01_bee6b.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">FRANK FABRA</h5>
        <h4>Defensor</h4>
        <p class="card-text">Numero de camiseta:</p>
        <p class="card-text"><small class="text-muted">18</small></p>
      </div>
    </div>
    <div class="card">
        <img src="../../../assets/img/349x283barco-perfil_1a2ed.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">VALENTIN BARCO</h5>
          <h4>Defensor</h4>
          <p class="card-text">Numero de camiseta:</p>
          <p class="card-text"><small class="text-muted">19</small></p>
        </div>
      </div>
      <div class="card">
        <img src="../../../assets/img/349x283retrato-varela_3ab40.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">ALAN VARELA</h5>
          <h4>Volante</h4>
          <p class="card-text">Numero de camiseta:</p>
          <p class="card-text"><small class="text-muted">33</small></p>
        </div>
      </div>
  </div>