<div class="wrap">
  <div class="tarjeta-wrap">
    <div class="tarjeta">
      <div class="adelante">
        <img src="../../../assets/img/349x283retrato-rossi_7dd4e.jpg" width="300px" height="200px" alt="">
        <h3>Arquero</h3>
        <h1>Agustin Rossi</h1>
        <h3>Numero de camiseta:1</h3>
      </div>
      <div class="atras">
        <h3>Fecha de nacimiento:21 de agosto de 1995</h3>
        <h3>Lugar de nacimiento: Buenos Aires</h3>
        <h3>Nacionalidad:Argentino</h3>
        <h3>Altura:1,95</h3>
        <h3>Peso:95</h3>
        <h3>Debut:Banfield 0- Boca 2 Campeonato 2016/17 (11-3-2017)</h3>
      </div>
    </div>
  </div>
  <div class="tarjeta-wrap">
    <div class="tarjeta">
      <div class="adelante">
        <img src="../../../assets/img/349x283retrato-garcia_8da8e.jpg" width="300px" height="200px" alt="">
        <h3>Arquero</h3>
        <h3>Javier Garcia</h3>
        <h3>Numero de camiseta:13</h3>
      </div>
      <div class="atras">
        <h3>Fecha Nacimiento:29 de enero de 1987</h3>
        <h3>Lugar Nacimiento:Buenos Aires</h3>
        <h3>Nacionalidad:Argentino</h3>
        <h3>Altura:1,80</h3>
        <h3>Peso:78</h3>
        <h3>Debut:Boca 2- Lanús 1 Torneo Apertura 2008 (24/8/2008)</h3>
      </div>
    </div>
  </div>
  <div class="tarjeta-wrap">
    <div class="tarjeta">
      <div class="adelante">
        <img src="../../../assets/img/349x283perfil-arquero_86dea.jpg" width="300px" height="200px" alt="">
        <h3>Arquero</h3>
        <h3>Leandro Brey</h3>
        <h3>Numero de camiseta:12</h3>
      </div>
      <div class="atras">
        <h3>Fecha Nacimiento:21 de septiembre de 2002</h3>
        <h3>Lugar Nacimiento:Lomas de Zamora</h3>
        <h3>Nacionalidad:Argentino</h3>
        <h3>Altura:1,91</h3>
        <h3>Peso:89</h3>
        <h3>Debut:-</h3>
      </div>
    </div>
  </div>
</div>