<div class="texto-logo">
    <div>
        <div class="row">
            <div class="col-1"><img src="../../../assets/img/escudoboca.png " height="90px" alt=""></div>
            <div class="col-2">
                <div class="row"><h2 class="club">Club Atletico</h2></div>
                <div class="row"><h2 class="boca">BOCA JUNIORS</h2></div>
            </div>     
            <div class="col-9"><img  src="../../../assets/img/Captura.PNG" align="right" height="90px" alt=""></div>
        </div>        
    </div>
</div>

